version: '3.8'
services:
  app:
    build: .
    environment:
      DB_HOST: db
      DB_NAME: registration
      DB_USER: user
      DB_PASSWORD: password
    ports:
    - "8000:8000"
    depends_on:
    - db

  db:
    image: postgres:14
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: registration
    ports:
    - "5432:5432"
    volumes:
    - ./db-init:/docker-entrypoint-initdb.d